* {
  font-family: "Noto Sans Nerd Font";
  font-size: 14px;
}
window#waybar {
  background: rgba(0, 0, 0, 0.45);
  color: #ffffff;
}
#workspaces button {
  color: #888888;
  padding: 0 6px;
}
#workspaces button.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
#pulseaudio {
  padding: 0 10px;
  color: #ffffff;
}
#pulseaudio.muted {
  color: #6c7086;
}
#bluetooth, #network, #battery {
  padding: 0 10px;
  color: #ffffff;
}
#network.wifi {
  color: #a6e3a1;
}
#network.ethernet {
  color: #ffffff;
}
#network.disconnected {
  color: #f38ba8;
}
#battery.charging {
  color: #a6e3a1;
}
#battery.critical:not(.charging) {
  color: #f38ba8;
}
